@import url('https://fonts.googleapis.com/css?family=Cormorant');
.product-title-div{
    display: inline-block;
    width:35rem;
    height:25rem;
    /*background:  #252830;*/
      background: repeating-linear-gradient(
		45deg,
		rgba(37, 40, 48, 0.3),
		rgba(60, 59, 58, 0.5) 0.5px,
		rgba(60, 59, 58, 0.5) 0.5px,
		rgba(60, 59, 58, 0.5) 0.5px
		);
    box-shadow: 0 2px 20px #000;
    margin-top:5rem;
}

.product-name{
    width:inherit;
    line-height: 5rem;
    padding-left:1rem;
    font-size: 20px;
    color:white;
    font-family: 'Cormorant', serif;
    background:  #252830;
    /*background-color:#303334;*/
    text-align: left;
    margin-bottom:0px;
}

.product-title-container{
    display: inline-block;
    width:80%;
    height:200px;
    margin:20px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: rgba(255,255,255, 0.5);
}

.product-line{
    margin-top:0px !important;
    background-color:#20c05c;
    height: 2px; 
    border: 0;
}