// less/main.less

@import "reset/reset.less";
// Import Bootstrap Styles Here

@import "bootstrap/bootstrap.less";

// Import your own LESS files here

// Add your own styles here
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

html {  
    height: 100%;
}
body {  
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*Start of header styling*/
header{
	position: fixed;
    z-index: 10;
    width: 100%;
    height: 60px;
}

.before-auth{
	animation: color_change 30s infinite alternate;
	// background-color:  rgba(60, 59, 58, 0.5);
// 	border: 0.5px solid #424242;
}

@keyframes color_change {
	0% { background-color: rgba(60, 59, 58, 0); }
	25% { background-color: rgba(60, 59, 58, 0.05); }
	50% { background-color: rgba(60, 59, 58, 0.15); }
	85% { background-color: rgba(60, 59, 58, 0.5); }
	100% { background-color: rgba(60, 59, 58, 0.75); }
}

.after-auth{
    background-color:  rgba(60, 59, 58, 0.5);
}

/*Hamburger Menu*/
.left-side .menu-button{
    margin:-5px;
    height:60px;
}

.menu-item{
    list-style-type: none;
    margin-top:15px;
    width:200px;
    height:200px;
    color:white;
}

.menu-item .well{
    margin-left:29px;
	border: none;
    background-color: rgba(48,0,0, 0.15);
	width:130px;
	// height:50px;
    border-color:  rgba(48,0,0, 0.15);
}

.menu-item .well .well-text{
	color:white;
}

.hamburger1
 {
    background: inherit;
    width: 80px;
    padding: 12px;
    float: left;
    margin: 0px 30px;
    cursor: pointer;
    border:none;
    position:absolute;
}

.hamburger1 div {
    height: 5px;
    background: #fff;
    width: 45px;
    margin: 5px 0px;
    transition: all 0.5s;
}

.hamburger1 div {
    height: 5px;
    background: #fff;
    width: 45px;
    margin: 5px 0px;
    transition: all 0.5s;
}

.hamburger1:hover div:nth-child(1) {
  width: 20px;
  transition: all 0.5s;
}

.hamburger1:hover div:nth-child(2) {
  width: 35px;
  transition: all 0.5s;
}

.hamburger1:hover div:nth-child(3) {
  width: 45px;
  transition: all 0.5s;
}

.hamburger1:hover div:nth-child(4) {
  width: 55px;
  transition: all 0.5s;
}

.glyphicon .glyphicon-log-in{
    margin-right:18px;
}

.btn{
    min-width:90px;
}

.left-side{
    height: inherit;
    max-width: 25%;
    float:left;
}

.right-side{
        height: inherit;
        border:none;
        display: flex;
        float:right;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }

@media only screen and (min-width:1287px){
    .right-side{
        width: 10%;
    }
}

@media only screen and (max-width:1287px){
    .right-side{
        width: 15%;
    }
}

@media only screen and (max-width:1024px){
    .right-side{
        width: 20%;
    }
}
/*End of header styling*/

/*Start of Page 1*/

.mainbody-div{
	position:relative;
    z-index:1;
	height:110rem;
	width:100%; 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
	align-content: stretch;
	// background-image: url('../Images/blue-orb-15381.jpg');
	background-image: url('https://unsplash.it/1800/800?image=893');
	background-repeat: no-repeat;
	background-size: cover;
	filter: brightness(90%);
}

.exstral p{
	margin-top:15rem;
	font-size:80px !important;
	font-family: 'Cutive Mono', monospace !important;
	color:white !important;
	z-index:30;
}

.banner-btn{
    z-index:5;
	margin-top:20rem;
	margin-left:2rem;
    position: relative;
    display: flex;
    align-items: stretch;
    background: transparent;
    border: 1px solid #fff;
}

.banner-btn:hover{
    background: #474545;
    border:1px solid #474545;
    transition: background .5s cubic-bezier(0.39, 0.58, 0.57, 1),border .5s ease-in;
    transition-property: background, border;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1), ease-in;
    transition-delay: initial, initial;
}

.banner-btn span{
    width:180px;
    height:38px;
    font-size: 11px;
    letter-spacing: .22em;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 30px;
    background: transparent;
    color: #fff;
    font-family: Open Sans;
    line-height: 350%;
    text-align: center;
}

.about-us{
	width:100%;
	height:60rem;
	background-color: #262626;
	// background-color: rgba(37, 40, 48, 1.0);
	padding-top:5rem;
}

.about-text{
	font-size: 50px;
	font-family: 'Cutive Mono', monospace;
	display:block;
	color:white;
}

.hiw-div{
	width:100%;
	height:140em;
	// background-color: #eeebe5;
	background-color: white;
	// background:url('../Images/Pictures-grey-wallpaper-HD.jpg');
	background-size:cover;
	background-repeat: no-repeat;
}

.hiw-text{
	font-size: 50px;
	font-family: 'Cutive Mono', monospace;
	display:block;
	color:black;
	padding-top:5rem;
}

.footer-container{
	display: inline-block;
	width:100%;
	height:10em;
	background: #262626;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 2.0s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 2.0s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


/*End of Page1 */

/*Dashboard Page*/

.dashboard{
 	margin: 0;
	// background:radial-gradient(farthest-corner at 95% 10%, #94525A, #181528) repeat;
	background-image:url('../Images/black-background_00313351.jpg');
	width:100%;
	min-height:100rem;
	z-index: 0;
	background-repeat:repeat-y;
	padding-right:0px;
	padding-left:15px; 
	padding-top:10px;
	position:relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.dashboard-side-bar{
	margin-top:0px;
}

.dashboard-container{
	background:  #2a2c2e;
	background: repeating-linear-gradient(
		45deg,
		rgba(37, 40, 48, 0.3),
		rgba(60, 59, 58, 0.5) 0.5px,
		rgba(60, 59, 58, 0.5) 0.5px,
		rgba(60, 59, 58, 0.5) 0.5px
		);
//   background-color:rgba(52,55,56,0.75);
	margin-top:60px;
	margin-left:10px;
	box-shadow: 0 5px 20px #000;
	background-repeat: no-repeat;
	background-clip: content-box;
	box-sizing: border-box;
	border: 0.5px solid #424242;
	width:90%;
	height:91.5rem;
	z-index:1;
}


.area-chart{
	width:100%;
	height:40%;
	padding-top:50px;
	padding-left:40px;
	padding-right:80px;
}
.recharts-left{
	width:750px;
	height:350px;
	// background: repeating-linear-gradient(
	// 	45deg,
	// 	rgba(37, 40, 48, 0.3),
	// 	rgba(60, 59, 58, 0.5) 0.5px,
	// 	rgba(60, 59, 58, 0.5) 0.5px,
	// 	rgba(60, 59, 58, 0.5) 0.5px
	// 	);
		padding-top:25px;
	background-color:#212121; 	
	float:left;
}
.recharts-right{
	width:750px;
	height:350px;
	// background: repeating-linear-gradient(
	// 45deg,
	// rgba(37, 40, 48, 0.3),
	// rgba(60, 59, 58, 0.5) 0.5px,
	// rgba(60, 59, 58, 0.5) 0.5px,
	// rgba(60, 59, 58, 0.5) 0.5px
	// );
	background-color:#212121; 
	padding-top:25px;
	float:right;
}

.tracker-wrapper{
	margin: 10rem 0px 0px 0px;
	padding-left:40px;
	width:79rem;
	height:43rem;
}

.dashboard .input-group{
    width:100%;    
}

.form-control{
	width:50% !important;
}

.form-control{
	background-color: rgba(255,255,255, 0.15);
}

.form-control:focus{
	z-index:10;
	color:whitesmoke !important;
	background-color: #1c1c1e;
}

.btn-tracker{
	margin-top:0px;
	height:34px !important;
	background:transparent;
}


.table{
	margin-top:15px;
	box-shadow: 0 2px 20px #000;
}

.table>thead{
	background-color: #28292c;
}

.table thead > tr > th { 
	border-bottom: 2px solid #FF5722; 
}

.btn-info{
	background:transparent;
}

.btn-info:hover{
	background-color: #4FC3F7;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: rgba(29,233,182, 0.15);
	color:black;
}
// .dash-trend-container{
// 	float:left;
// 	height:750px;
// 	width:750px;
// 	// background: repeating-linear-gradient(
// 	// 45deg,
// 	// #252830,
// 	// rgba(60, 59, 58, 1) 0.5px,
// 	// rgba(60, 59, 58, 1) 0.5px,
// 	// rgba(60, 59, 58, 1) 0.5px
// 	// );
// 	background-color: rgba(255,255,255, 0.15);
// 	margin-left:80px;
// 	color:white;
// }

// .trend-table-head>th{
// 	width:187.5px ;
// }

// .trend-table-row>tr{
// 	height:50px !important;
// 	vertical-align: middle !important;
// }

// .dash-search{
// 	width:80%;
// 	margin-left:58%;
// }

// .dash-table{
// 	margin-top:20px;
// 	width:750px;
// 	margin-left:52%;
// 	background-color: rgba(255,255,255, 0.15);
// }

thead>tr>th{
	color:white;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	text-align: center;
}

tbody>tr>td{
	color:white;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

/*End of Dashboard Page*/
/*start of about page*/
@font-face {
	font-family: 'OpenSans';
	font-weight: normal;
	font-style: normal;
}


.clearfix:after, #contents:after {
	clear:both;
	content:"";
	display:block;
	height:1%;
	line-height:0;
	visibility:hidden;
}

/*------------------------------ HEADER ------------------------------*/
.about-page about-header {
	background-color: #eee;
	border-bottom: 1px solid #e6e6e6;
	padding: 27px 0;
}
.about-page about-header > div, #footer > div {
	width: 920px;
	margin: 0 auto;
	padding: 0 20px;
}
/*------------------------------ CONTENTS ------------------------------*/
#contents {
	min-height: 510px;
	width: 880px;
	margin: 0 auto;
	padding: 54px 40px;
}
h1 {
	color: #3e3e3e;
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	margin: 0 0 30px;
}
h2 {
	color: #2c2c2c;
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 12px;
}
p {
	color: #585858;
	font-size: 16px;
	line-height: 24px;
	margin: 0 0 30px;
}
p a {
	color: #585858;
}
#tagline h1 {
	margin-left: 20px;
}
#tagline > div {
	float: left;
	width: 400px;
	margin: 0 20px;
}
#contents .features {
	width: 810px;
	margin: 0 auto;
}
.features > div {
	display: inline-block;
	margin: 0 0 30px;
}
.features > div img {
	float: left;
	margin-right: 20px;
	margin-top: 36px;
}
.date {
	float: left;
	height: 78px;
	width: 70px;
	margin-right: 20px;
	border: 1px solid #d5d5d5;
	text-align: center;
}
.date p {
	margin: 12px 0 0;
}
.date p span {
	display: block;
	font-size: 30px;
	margin-bottom: 6px;
}
.author {
	color: #585858;
	display: block;
	font-size: 12px;
}
.more {
	background-color: #727272;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	line-height: 30px;
	width: 100px;
	text-align: center;
	text-decoration: none;
}
.more:hover, .message input[type='submit']:hover {
	background-color: #f99600;
	color: #000;
}
/** main **/
.main {
	float: left;
	background: url(../Images/divider.png) repeat-y right top;
	min-height: 100px;
	width: 620px;
	padding-right: 24px;
}
.main h1, .sidebar h1 {
	margin: 0 0 12px;
	position: relative;
	top: -18px;
}
.main h2 span {
	display: block;
	font-size: 12px;
}
/** sidebar **/
.sidebar {
	float: left;
	min-height: 848px;
	width: 216px;
	margin-left: 20px;
}
.sidebar ul, .news {
	list-style: none;
	margin: 0;
	padding: 0;
}
.news li {
	border-top: 1px solid #d5d5d5;
	padding: 24px 30px 0 100px;
	position: relative;
}
.news li .date {
	float: none;
	position: absolute;
	left: 0;
	top: 30px;
}
.news li > p span, .post > span {
	display: block;
	text-align: right;
}
.posts {
	border-top: 1px solid #d5d5d5;
}
.posts li {
	border-bottom: 1px solid #d5d5d5;
	padding: 24px 10px 0;
}
.posts li p {
	font-size: 14px;
}
.posts li .title {
	font-size: 16px;
	font-weight: normal;
	margin: 0 0 12px;
}
.posts li .title a {
	color: #2c2c2c;
	font-size: 16px;
	text-decoration: none;
}
.post {
	width: 785px;
	margin: 0 auto;
}
.post h1 {
	padding-top: 12px;
}
.about {
	width: 740px;
	margin: 0 auto;
	padding-top: 100px;
}
.about h1, .section h1 {
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 12px;
}
.section {
	float: left;
	width: 390px;
	margin-right: 50px;
}
.section h1 {
	margin-bottom: 18px;
}
.message input[type='text'], .message textarea {
	color: #aeaeae;
	font-size: 13px;
	height: 33px;
	line-height: 33px;
	width: 380px;
	border: 1px solid #d5d5d5;
	margin: 0 0 6px;
	padding: 0 4px;
}
.message textarea {
	height: 175px;
	overflow: auto;
	resize: none;
}
.message input[type='submit'] {
	float: right;
	background-color: #818181;
	color: #d5d5d5;
	cursor: pointer;
	font: 13px/30px Arial, Helvetica, sans-serif;
	height: 30px;
	border: 0;
	margin: 0;
	padding: 0 10px;
}
.contact {
	background-color: #f8f8f8;
	width: 270px;
	padding: 124px 60px;
	text-align: center;
}
.contact p span {
	color: #2c2c2c;
	display: block;
	font-size: 30px;
	line-height: 36px;
	padding: 18px 0;
}
/*End of about page*/

/*Start of Product page*/
.product-main{
	margin: 0;
	// background:radial-gradient(farthest-corner at 95% 10%, #94525A, #181528) repeat;
	background-image:url('../Images/black-background_00313351.jpg');
	width:100%;
	min-height:100rem;
	z-index: 0;
	background-repeat:repeat-y;
	padding-right:0px;
	padding-left:15px; 
	padding-top:10px;
	position:relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.product-container{
//   background:  #252830;
  background:  #2a2c2e;
  background: repeating-linear-gradient(
		45deg,
		rgba(37, 40, 48, 0.3),
		rgba(60, 59, 58, 0.5) 0.5px,
		rgba(60, 59, 58, 0.5) 0.5px,
		rgba(60, 59, 58, 0.5) 0.5px
		);
//   background-color:rgba(52,55,56,0.75);
  margin-top:60px;
  margin-left:10px;
  box-shadow: 0 5px 20px #000;
  background-repeat: no-repeat;
  background-clip: content-box;
  box-sizing: border-box;
  border: 0.5px solid #424242;
  width:90%;
  height:91.5rem;
  z-index:1;
  
}

.container{
	width:100%;
}

.sidebar-wrapper{
	box-sizing: border-box;
	border: 0.5px solid #424242;
	background:  #2a2c2e;
	width:21rem;
  	height:91.5rem;
	z-index:2;
	margin-left:-1.5rem;
	margin-top:60px;
	background: repeating-linear-gradient(
		45deg,
		rgba(37, 40, 48, 0.3),
		rgba(60, 59, 58, 0.5) 0.5px,
		rgba(60, 59, 58, 0.5) 0.5px,
		rgba(60, 59, 58, 0.5) 0.5px
		);
}

/*End of Product page*/