// less/main.less

@import "reset/reset.less";
// Import Bootstrap Styles Here

@import "bootstrap/bootstrap.less";

// Import your own LESS files here

// Add your own styles here
@import url('https://fonts.googleapis.com/css?family=Lato');

html {  
    height: 100%;
}
body {  
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*Start of header styling*/
header{
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 60px;;
    background-color: rgba(48,0,0, 0.15);
}

/*Hamburger Menu*/
.left-side .menu-button{
    margin:-5px;
    height:60px;
}

.menu-item{
    list-style-type: none;
    margin-top:15px;
    width:200px;
    height:200px;
    color:white;
}

.menu-item .well{
    margin-left:29px;
	border: none;
    background-color: rgba(48,0,0, 0.15);
	width:130px;
	// height:50px;
    border-color:  rgba(48,0,0, 0.15);
}

.menu-item .well .well-text{
	color:white;
}

.hamburger1
 {
    background: inherit;
    width: 80px;
    padding: 12px;
    float: left;
    margin: 0px 30px;
    cursor: pointer;
    border:none;
    position:absolute;
}

.hamburger1 div {
    height: 5px;
    background: #fff;
    width: 45px;
    margin: 5px 0px;
    transition: all 0.5s;
}

.hamburger1 div {
    height: 5px;
    background: #fff;
    width: 45px;
    margin: 5px 0px;
    transition: all 0.5s;
}

.hamburger1:hover div:nth-child(1) {
  width: 20px;
  transition: all 0.5s;
}

.hamburger1:hover div:nth-child(2) {
  width: 35px;
  transition: all 0.5s;
}

.hamburger1:hover div:nth-child(3) {
  width: 45px;
  transition: all 0.5s;
}

.hamburger1:hover div:nth-child(4) {
  width: 55px;
  transition: all 0.5s;
}

.glyphicon .glyphicon-log-in{
    margin-right:18px;
}

.btn{
    min-width:90px;
}

.left-side{
    height: inherit;
    max-width: 25%;
    float:left;
}

.right-side{
        height: inherit;
        border:none;
        display: flex;
        float:right;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }

@media only screen and (min-width:1287px){
    .right-side{
        width: 10%;
    }
}

@media only screen and (max-width:1287px){
    .right-side{
        width: 15%;
    }
}

@media only screen and (max-width:1024px){
    .right-side{
        width: 20%;
    }
}
/*End of header styling*/

/*Start of Page 1*/
.main-image{
    position: absolute;
    z-index: 0;
    background-size: 100% 100%;
    top: 0px;
    left: 0px; /* fixed to left. Replace it by right if you want.*/
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    // background-image: url('../Images/form_green_shadow_dark_85047_1920x1080.jpg');
    // background-size: cover;
    // background-repeat: no-repeat;
	// color: #fff;
	// background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	// background-size: 400% 400%;
	// -webkit-animation: Gradient 10s ease infinite;
	// -moz-animation: Gradient 10s ease infinite;
	// animation: Gradient 10s ease infinite;
}

// @-webkit-keyframes Gradient {
// 	0% {
// 		background-position: 0% 50%
// 	}
// 	50% {
// 		background-position: 100% 50%
// 	}
// 	100% {
// 		background-position: 0% 50%
// 	}
// }

// @-moz-keyframes Gradient {
// 	0% {
// 		background-position: 0% 50%
// 	}
// 	50% {
// 		background-position: 100% 50%
// 	}
// 	100% {
// 		background-position: 0% 50%
// 	}
// }

// @keyframes Gradient {
// 	0% {
// 		background-position: 0% 50%
// 	}
// 	50% {
// 		background-position: 100% 50%
// 	}
// 	100% {
// 		background-position: 0% 50%
// 	}
// }

/*Use this with the main body just in  case for text
h1,
h6 {
	font-family: 'Open Sans';
	font-weight: 300;
	text-align: center;
	position: absolute;
	top: 45%;
	right: 0;
	left: 0;
}
*/

.mainbody-div{
    position:relative;
    z-index:1;
    height:100vh; 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.banner-btn{
    z-index:5;
    margin-top:300px;
    position: relative;
    display: flex;
    align-items: stretch;
    background: transparent;
    border: 1px solid #fff;
}

.banner-btn:hover{
    background: #474545;
    border:1px solid #474545;
    transition: background .5s cubic-bezier(0.39, 0.58, 0.57, 1),border .5s ease-in;
    transition-property: background, border;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1), ease-in;
    transition-delay: initial, initial;
}

.banner-btn span{
    width:180px;
    height:38px;
    font-size: 11px;
    letter-spacing: .22em;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 30px;
    background: transparent;
    color: #fff;
    font-family: Open Sans;
    line-height: 350%;
    text-align: center;
}
/*End of Page1 */

/*Dashboard Page*/

.dashboard{
    width:100%;
    height:100em;
	// background-color:#252830;
    // background: #a1c4fd; /* Old Browsers */
    // background: -webkit-linear-gradient(top,#a1c4fd,#c2e9fb); /*Safari 5.1-6*/
    // background: -o-linear-gradient(top,#a1c4fd,#c2e9fb); /*Opera 11.1-12*/
    // background: -moz-linear-gradient(top,#a1c4fd,#c2e9fb); /*Fx 3.6-15*/
    // background: linear-gradient(to bottom, #a1c4fd, #c2e9fb); /*Standard*/
	background-image:url('../Images/black-background_00313351.jpg');
}

.area-chart{
	width:100%;
	height:40%;
	padding-top:100px;
	padding-left:80px;
	padding-right:80px;
}
.recharts-left{
	width:750px;
	height:400px;
	background: repeating-linear-gradient(
		45deg,
		rgba(37, 40, 48, 0.3),
		rgba(60, 59, 58, 0.5) 0.5px,
		rgba(60, 59, 58, 0.5) 0.5px,
		rgba(60, 59, 58, 0.5) 0.5px
		);
	// background-color:#1997c6; 	
	float:left;
}
.recharts-right{
	width:750px;
	height:400px;
	background: repeating-linear-gradient(
	45deg,
	rgba(37, 40, 48, 0.3),
	rgba(60, 59, 58, 0.5) 0.5px,
	rgba(60, 59, 58, 0.5) 0.5px,
	rgba(60, 59, 58, 0.5) 0.5px
	);
	float:right;
}
.recharts-wrapper{
	width:50%;
	margin-top:50px;
	z-index:5;
}

.dashboard .search-container{
    width:100%;    
}
.dashboard .input-group{
    width:100%;    
}

.dashboard .input-group .form-control{
	width:30%;
	margin-right:-2px;
}

.form-control{
	background-color: rgba(255,255,255, 0.15);
}

.form-control:focus{
	z-index:10;
	color:whitesmoke;
}

.btn-info{
	margin-top:0px;
	height:34px !important;
	background:transparent !important;
}

.btn-info:hover{
	background-color:#57c5e0 !important;
}

.dash-trend-container{
	float:left;
	height:750px;
	width:750px;
	// background: repeating-linear-gradient(
	// 45deg,
	// #252830,
	// rgba(60, 59, 58, 1) 0.5px,
	// rgba(60, 59, 58, 1) 0.5px,
	// rgba(60, 59, 58, 1) 0.5px
	// );
	background-color: rgba(255,255,255, 0.15);
	margin-left:80px;
	color:white;
}

.trend-table-head>th{
	width:187.5px ;
}

.trend-table-row>tr{
	height:50px !important;
	vertical-align: middle !important;
}

.dash-search{
	width:80%;
	margin-left:58%;
}

.dash-table{
	margin-top:20px;
	width:750px;
	margin-left:52%;
	background-color: rgba(255,255,255, 0.15);
}

thead>tr>th{
	color:white;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	text-align: center;
}

tbody>tr>td{
	color:white;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

/*End of Dashboard Page*/
/*start of about page*/
@font-face {
	font-family: 'OpenSans';
	font-weight: normal;
	font-style: normal;
}


.clearfix:after, #contents:after {
	clear:both;
	content:"";
	display:block;
	height:1%;
	line-height:0;
	visibility:hidden;
}

/*------------------------------ HEADER ------------------------------*/
.about-page about-header {
	background-color: #eee;
	border-bottom: 1px solid #e6e6e6;
	padding: 27px 0;
}
.about-page about-header > div, #footer > div {
	width: 920px;
	margin: 0 auto;
	padding: 0 20px;
}
/*------------------------------ CONTENTS ------------------------------*/
#contents {
	min-height: 510px;
	width: 880px;
	margin: 0 auto;
	padding: 54px 40px;
}
h1 {
	color: #3e3e3e;
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	margin: 0 0 30px;
}
h2 {
	color: #2c2c2c;
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 12px;
}
p {
	color: #585858;
	font-size: 16px;
	line-height: 24px;
	margin: 0 0 30px;
}
p a {
	color: #585858;
}
#tagline h1 {
	margin-left: 20px;
}
#tagline > div {
	float: left;
	width: 400px;
	margin: 0 20px;
}
#contents .features {
	width: 810px;
	margin: 0 auto;
}
.features > div {
	display: inline-block;
	margin: 0 0 30px;
}
.features > div img {
	float: left;
	margin-right: 20px;
	margin-top: 36px;
}
.date {
	float: left;
	height: 78px;
	width: 70px;
	margin-right: 20px;
	border: 1px solid #d5d5d5;
	text-align: center;
}
.date p {
	margin: 12px 0 0;
}
.date p span {
	display: block;
	font-size: 30px;
	margin-bottom: 6px;
}
.author {
	color: #585858;
	display: block;
	font-size: 12px;
}
.more {
	background-color: #727272;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	line-height: 30px;
	width: 100px;
	text-align: center;
	text-decoration: none;
}
.more:hover, .message input[type='submit']:hover {
	background-color: #f99600;
	color: #000;
}
/** main **/
.main {
	float: left;
	background: url(../Images/divider.png) repeat-y right top;
	min-height: 100px;
	width: 620px;
	padding-right: 24px;
}
.main h1, .sidebar h1 {
	margin: 0 0 12px;
	position: relative;
	top: -18px;
}
.main h2 span {
	display: block;
	font-size: 12px;
}
/** sidebar **/
.sidebar {
	float: left;
	min-height: 848px;
	width: 216px;
	margin-left: 20px;
}
.sidebar ul, .news {
	list-style: none;
	margin: 0;
	padding: 0;
}
.news li {
	border-top: 1px solid #d5d5d5;
	padding: 24px 30px 0 100px;
	position: relative;
}
.news li .date {
	float: none;
	position: absolute;
	left: 0;
	top: 30px;
}
.news li > p span, .post > span {
	display: block;
	text-align: right;
}
.posts {
	border-top: 1px solid #d5d5d5;
}
.posts li {
	border-bottom: 1px solid #d5d5d5;
	padding: 24px 10px 0;
}
.posts li p {
	font-size: 14px;
}
.posts li .title {
	font-size: 16px;
	font-weight: normal;
	margin: 0 0 12px;
}
.posts li .title a {
	color: #2c2c2c;
	font-size: 16px;
	text-decoration: none;
}
.post {
	width: 785px;
	margin: 0 auto;
}
.post h1 {
	padding-top: 12px;
}
.about {
	width: 740px;
	margin: 0 auto;
	padding-top: 100px;
}
.about h1, .section h1 {
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 12px;
}
.section {
	float: left;
	width: 390px;
	margin-right: 50px;
}
.section h1 {
	margin-bottom: 18px;
}
.message input[type='text'], .message textarea {
	color: #aeaeae;
	font-size: 13px;
	height: 33px;
	line-height: 33px;
	width: 380px;
	border: 1px solid #d5d5d5;
	margin: 0 0 6px;
	padding: 0 4px;
}
.message textarea {
	height: 175px;
	overflow: auto;
	resize: none;
}
.message input[type='submit'] {
	float: right;
	background-color: #818181;
	color: #d5d5d5;
	cursor: pointer;
	font: 13px/30px Arial, Helvetica, sans-serif;
	height: 30px;
	border: 0;
	margin: 0;
	padding: 0 10px;
}
.contact {
	background-color: #f8f8f8;
	width: 270px;
	padding: 124px 60px;
	text-align: center;
}
.contact p span {
	color: #2c2c2c;
	display: block;
	font-size: 30px;
	line-height: 36px;
	padding: 18px 0;
}
/*End of about page*/

/*Start of Product page*/
.product-main{
	background-image:url('../Images/black-background_00313351.jpg');
	width:100%;
	height:1800px;
	z-index: 0;
}

.product-container{
	width:100%;
	height: 1200px;
	z-index:5;
	position: relative;
	padding-top:80px;
	padding-left:80px;
	padding-right:80px;
}

.product-container-div {
	height:inherit;
	width:100%;
	// margin-left:60px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: space-around;
}

.product-list-container{
	background-color: rgba(255,255,255, 0.15);
	color:white;
	width:600px;
	height:350px;
}

.comment-list-container{
	background-color: rgba(255,255,255, 0.15);
	color:white;
	width:60%;
	height:350px;
	margin-top:100px;
	margin-left: 350px;
}

.recharts-surface{
	padding-bottom: 150px;
	margin-bottom: 150px;
	padding-right: 150px;
	
}

g .recharts-layer .recharts-area{
	padding-top:50px !important;
	padding-left:50px !important;
}



/*End of Product page*/