@import url('https://fonts.googleapis.com/css?family=Signika');

.item {
  box-sizing: border-box;
  width:1250px;
  height:500px;
  margin: 50px auto;
  padding-top: 0px;
  background: #fff;
  text-align: justify;
  color: #FFF;
  font-size: 3em;
  border-radius:25px;
}

.hiw-div-left{
  float:left;
  height:450px;
  width:750px;
}

.hiw-div-right{
  float:right;
  width:450px;
  height:inherit;
  padding-top:1.2em;
 
}

.hiw-p-title{
    font-family: Signika, Verdana, sans-serif ;
    font-size:24px;
    font-weight: 800;
    font-style: normal;
    color:#444444;
    line-height:31px;
}

.hiw-p-text{
  padding-left:1.5em !important;
}

.hiw-div2-left{
  float:right;
  height:300px;
  width:500px;

}

.hiw-div2-right{
  float:left;
  width:220px;
  height:inherit;
  text-align: justify;
}
.hiw-div3-left{
  float:left;
  height:300px;
  width:300px;

}

.hiw-div3-right{
  float:right;
  width:420px;
  height:inherit;
  text-align: justify;
}


.hiw-div4-left{
  float:right;
  height:300px;
  width:500px;

}

.hiw-div4-right{
  float:left;
  width:220px;
  height:inherit;
}

.hiw-div4-right>p,.hiw-div3-right>p,.hiw-div2-right>p,.hiw-div-right>p{
  text-align: justify; 
  text-transform: none;
  letter-spacing:2px;
  padding-right:0.5em;
  padding-left:1.0em;
}
/*    color: #00acd7;
    color: #ff6600;
        color: #3fae29;
*/
